/*the site link im modeling from :http://wrapbootstrap.com/preview/WB021609D*/
* {
  margin-left: 0;
  padding:0;
}

.colsTest {
  background-color: grey;
  border: 1px solid white;
}

.container{
  background-color: transperent;

}

.navbar {
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);
}

/*the contact button in nav*/
.nav-items{
  width: 119px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.navbar-brand {
  width: 160px;
}


.box{
height: 50px;
width: 50px;
background-color: red;
border: 2px solid black;
}

#welcomePic {
  color: white;
  text-align: center;
  background-image: url("../img/IMG_2770.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
/*the connect section*/
.connect {
  height: 100px;
  width: 100%;
  background-color: grey;
}
