/*the site link im modeling from :http://wrapbootstrap.com/preview/WB021609D*/
* {
  margin-left: 0;
  padding:0;
}

/*body{
  background-image: url("../img/sunrise_burst_city.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}*/

.colsTest {
  background-color: grey;
  border: 1px solid white;
}

.container{
  background-color: transperent;

}

.navbar {
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);
}

/*the contact button in nav*/
.nav-items{
  width: 119px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.navbar-brand {
  width: 160px;
}


.box{
height: 50px;
width: 50px;
background-color: red;
border: 2px solid black;
}

#welcomePic {
  height: 330px;
  color: white;
  text-align: center;
  background-image: url("../img/IMG_2770.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
/*the connect section*/
.connect {
  height: 145px;
  width: 100%;
  background-color: blue;
}

.iWrapper{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.circles{
  border: 1px solid grey;
  border-radius: 15px;
  padding:10px;
  text-align: center;
  font-size: 60px;
}

/*end of the connect section*/
  /*theclear panel section*/
  #clear-panel{
    height: 600px;
    background-image: url("../img/sun_burst_city.JPG");
    background-repeat:repeat-x;
    /*background-size:;*/
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 15px;

}
